html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI Light', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #0e0e0e;
  color: #fbf5f3;
}

a {
  color: #fbf5f3;
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding-top: 0.2em;
  height: 0.8em;
  margin-right: 6px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  background: #fbf5f3;
  color: #0e0e0e;
}

.reverse a {
  color: #0e0e0e;
}

.model-container {
  display: flex;
  flex: 1;
  height: 40vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.model {
  height: 100%;
  min-height: 320px;
  min-width: 100%;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 70%;
}

.info-box {
  max-width: 65%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  .reverse {
    flex-direction: column;
  }
  .model-container {
    height: 30vh;
  }
  .info {
    max-width: 90%;
  }
  .info-box {
    max-width: 90%;
  }
}

.section#certificate .info-box{
  border-top: #0e0e0e solid 4px;
  border-bottom: #0e0e0e solid 4px;
}

.section#ammonite .info-box{
  border-top: #c7421a solid 4px;
  border-bottom: #c7421a solid 4px;
}

.section#snakestone .info-box{
  border-top: #f5c800 solid 4px;
  border-bottom: #f5c800 solid 4px;
}

#fossil-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#fossil-info {
  width: 100%;
  align-self: start;
  padding-bottom: 10px;
  border-bottom:#fbf5f3 solid 4px;
}

#certificate-down {
  padding-top: 20px;
}

footer {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px 20px;
}

#credits {
  border-top: #fbf5f3 solid 4px;
  padding-top: 10px;
  width: 60%;
}

#credits a {
  text-decoration: underline;
}
